@import url("common.css");
.image-container {
    background-image: url("https://nurseryschool.wustl.edu/files/2015/03/group-holi.jpg");
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.page-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.widget-area.stick.secondary {
    width: 25%; /* Sidebar (teachers) takes 25% of the width */
    display: block;
    flex-direction: column;
    gap: 2em;
    position: sticky;
    top: 0;
    /*SCROLLABLE ASIDE CSS*/
    /*
    height: 600px;
    overflow-y: auto;
    display: block;
    */
}